* {
  font-family: 'Varela Round', sans-serif;
}

.jumbotron {
  background-color: #333;
  background-image: url("./assets/images/pexels-photo-355423.jpeg");
  background-size: cover;
  color: #FFF;
  border-radius: 0;
  padding: 180px 0px;
}
