.navbar {
  margin-bottom: 0;
}

.lightGrayBackground {
  background: #F6F6F6;
}

.chalkBackground {
  background: #2A2A2A;
}

.whiteText {
  color: white;
}

.blueGradientBackground {
  background-image: linear-gradient( 135deg, #52E5E7 0%, #130CB7 100%);
}

* {
  font-family: 'Varela Round', sans-serif;
}

.navbar-default {
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background: #FFF;
}

a {
  color: #34A3F8;
}

.extra-margin {
  margin-right: 15px;
}

.extra-margin-bottom {
  margin-bottom: 15px;
}

.navbar-default .navbar-nav > li > a:link, .navbar-default .navbar-nav > li > a:focus {
    color: #34A3F8;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #F5F6F7;
    color: navy;
}

@media (max-width: 750px) {
  .aboutMePhoto {
    display: block;
    height: auto;
    max-width: 50%;
    margin-bottom: 14px;
  }
}

@media (min-width: 751px) {
  .aboutMePhoto {
    display: block;
    height: auto;
    max-width: 80%;
    margin-bottom: 14px;
  }
}
